a
 {
text-decoration: none;
color: #074199;
 }
a:hover
 {
text-decoration: underline;
color:#fb7ca6;
 }

header
 {
width: 800px;
height: 150px;
padding:0px;
margin-right: auto;
margin-left: auto;
margin-top: 0;
margin-bottom: 0;
background-image: url(img/head.jpg);
overflow:hidden;
 }

header .hcon
 { color:#202020;
 }

header .title
 {
height: 100px;
font-size:30px;
line-height: 100px;
margin-top: auto;
margin-left: auto;
/* background-color: #a0a0a0; */
margin-left:0.3em;
 }

header .menuall
 {
width: 400px;
height: 50px;
/* background-color: #ffa0ff; */
display: flex;
justify-content:space-around;
align-items: end;
float:right;

 }

header .menu
 {
width: 90px;
height: 30px;
font-size: 18px;
/* background-color: #ffa0a0; */
border: solid 1px;
line-height: 40px;
text-align:center

 }

body
 {
margin-top: 0px;
font-size: 13px;
line-height: 140%;
background:linear-gradient(#ffffff, 80%, #aaccff);
background-attachment:fixed;

 }

.mainbg
 {
width: 100%;
max-width: 800px;
margin-right: auto;
margin-left: auto;
margin-top: 0;
margin-bottom: 0;
padding-top: 0;


 }

.box1 
 {
width: 750px;
padding: 0px 0px 0px 0px;
margin-top: 3em;
margin-right: auto;
margin-left: auto;
color: #392517;
background-color: #ffffff;
box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
border-right: solid 1px #e0ecff;
border-left: solid 1px #e0ecff;
border-bottom: solid 1px #e0ecff;

 }

h2
 {
color: #ffffff;
background-color:#cfffd0;
width: 100%;
font-size: 1.8em;
height: 2.2em;
line-height: 2.3em;
padding-left: 0.6em;
box-sizing: border-box; /* はみ出し防止 */
margin-bottom:0px;
text-shadow: 2px 2px rgba(60, 85, 120, 0.5);
 }

.box1inner
 {
margin:1.5em;
 }

.boxcr
 {
display: flex;
margin:1.5em;
 }

.gameinfo
 {
border-top: dashed #0aa10d 1px;width:490px;
 }

.career
 {
display:table;
width:490px;
margin: 0;
padding: 0;
border-bottom: dashed #0aa10d 1px;
 }


.career dt
 {
display: table-cell;
background-color: #cfffd0;
width:10em;
vertical-align: middle;
text-align :center;
font-weight: bold;
 }

.career dd
 {
display: table-cell;
background-color: #ffffff;
margin: 0;
vertical-align: middle;
padding-left: 0.5em;
padding-top:0.2em;
padding-bottom:0.2em;
line-height: 1.2em;
 }


ul
 {
padding: 0px;
margin: 0px;
 }

li
 {
padding: 0px;
list-style-type: none;

 }

.comment
 {
width:500px;
padding-top:0.5em;
 }

.comment p
 { 
margin:0.2em;
 }


.gameimage
 {
text-align: right;
width:300px;

 }

/*作品ページ*/

.gallery
 {
margin-top: 3em;
/* justify-contenr: center; */
text-align: center;
display:flex;
flex-wrap: wpap;
 }

.gallery img
 {
border: 1px solid #c0c0ff;
 }

.gallery li
{
display: inline-block;
padding: 0;
width:100%;
}


