a
 {
text-decoration: none;
color: #074199;
 }
a:hover
 {
text-decoration: underline;
color:#fb7ca6;
 }

header
 {
width: 800px;
height: 150px;
background-color: #505050;
color: #ffffff;
padding:0px;
font-size:30px;
line-height: 70px;

 }

body
 {
margin-top: 0px;
font-size: 13px;
line-height: 140%;

background-attachment: fixed;

 repeat
 center
 }

.container
 {
width: 100%;
max-width: 800px;
margin-right: auto;
margin-left: auto;
background:linear-gradient(#aaccff, #d8e8ff);
 }

.box1 
 {
width: 750px;
padding: 0px 0px 0px 0px;
margin-top: 3em;
margin-right: auto;
margin-left: auto;
color: #392517;
background-color: #ffffff;
box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
border-right: solid 1px #e0ecff;
border-left: solid 1px #e0ecff;
border-bottom: solid 1px #e0ecff;

 }

h2
 {
color: #ffffff;
background-color:#392517;
width: 100%;
font-size: 1.8em;
height: 2.2em;
line-height: 2.3em;
padding-left: 0.6em;
box-sizing: border-box; /* はみ出し防止 */
margin-bottom:0px;
 }

.box1inner
 {
margin:1.5em;
 }

dt
 {
background-color: #505500;
 }


